@import "vars";

body, html{
	height: 100%;
}

body{
	font-size: 16px;
	max-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
}

//ALWAYS END
@import "media";